.login {
  display: grid;
  place-items: center;
  height: 100vh;
}
.login > div > img {
  object-fit: contain;
  height: 150px;
}
.login > div {
  display: flex;
  flex-direction: column;
}
.login > button {
  width: 200px;
  font-weight: 800;
  cursor: pointer;
  background-color: #2e81f4;
  color: white;
}
.login > button:hover {
   color: #2e81f4;
} 
